<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
        <target name="EventLog" xsi:type="EventLog" source="Liveapp" />
        <target name="File" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="${basedir}/${level}.log" />
    </targets>

    <rules>
        <!-- Levels: Trace,Debug,Info,Warn,Error,Fatal -->
        <logger name="*" minlevel="Info" writeTo="File" />
    </rules>
</nlog>
