<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Liveapp.Framework.Service.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings />
  <connectionStrings />
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <!--<authentication mode="Windows"/>-->
    <authentication mode="None" />
    <httpHandlers>
      <add verb="*" path="*.asmx" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add verb="OPTIONS, POST, GET" path="q/*" type="Liveapp.Framework.Service.QueryHandler" />
      <add verb="GET" path="f/*" type="Liveapp.Framework.Service.FileHandler" />
      <add verb="GET" path="*" type="Liveapp.Framework.Service.URLHandler" />
    </httpHandlers>
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <httpRuntime maxRequestLength="2147483647" executionTimeout="1660" requestValidationMode="2.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
    </pages>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="Liveapp Query Handler" verb="OPTIONS, POST, GET" path="q/*" type="Liveapp.Framework.Service.QueryHandler" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" />
      <add name="Liveapp File Handler" verb="GET" path="f/*" type="Liveapp.Framework.Service.FileHandler" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" />
      <add name="Liveapp URL Handler" verb="GET" path="*" type="Liveapp.Framework.Service.URLHandler" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" />
    </handlers>
    <httpErrors errorMode="Custom">
      <error statusCode="403" subStatusCode="4" path="Pages\SSLRedirect.htm" responseMode="File" />
      <remove statusCode="404"/>
      <error statusCode="404" path="Pages\404.htm" responseMode="File"/>
    </httpErrors>
    <!--<httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=EmulateIE9"/>
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <Liveapp.Framework.Service.My.MySettings>
      <setting name="HTTP_PREFIX" serializeAs="String">
        <value>https</value>
      </setting>
      <setting name="LANGUAGE" serializeAs="String">
        <value>ENA</value>
      </setting>
      <setting name="MAXCACHEOBJECTS" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="CHECK_UPDATES" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SESSION_TIMEOUT_MINS" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="PORT" serializeAs="String">
        <value />
      </setting>
      <setting name="CACHE_FILES" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EXTERNAL_SECRET" serializeAs="String">
        <value />
      </setting>
      <setting name="PUBLIC_SECRET" serializeAs="String">
        <value></value>
      </setting>
      <setting name="HOST1" serializeAs="String">
        <value></value>
      </setting>
      <setting name="INSTALL_MODE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DEFAULT_INSTANCE" serializeAs="String">
        <value></value>
      </setting>
      <setting name="ALLOWED_HOSTS" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="PING_TIMEOUT_MINS" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="COMMIT_DEAD_SESSIONS" serializeAs="String">
        <value>False</value>
      </setting>
    </Liveapp.Framework.Service.My.MySettings>
  </applicationSettings>
</configuration>