/* Combo Box
----------------------------------*/

.ui-combobox {
	position: relative;
	display: inline-block;
}
.ui-combobox-button {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
}